/* Element Styles */

* {
  font-family: 'Merriweather', serif;
}

body {
  background: #d0d0d0;
}

main {
  background: #f0f6f7;
}

header {
  background: #0c86a7;
  color: white;
  margin: auto;
  text-align: center;
  padding: 24px;
  font-size: 18px;
  text-transform: uppercase;
}

fieldset {
  border: none;
  margin: 0 auto;
  width: 85%;
}

h1, legend {
  font-size: 18px;
  padding-left: 0;
}

p, label {
  color: #969696;
}

h1, h2 {
  text-align: center;
  margin: 0;
  padding: 16px;
}

p {
  text-align: center;
  margin: 0;
  padding: 0 0 12px 0;
}

hr {
  max-width: 95%;
  height: 2px;
  background-color: black;
}

textarea {
  background: #e3e3e3;
  border: none;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100px;
  margin: 12px 0;
  padding: 0;
}

form input {
  width: 90%;
  height: 48px;
  border-radius: 5px;
  border: none;
  margin: auto;
  background-color: #e3e3e3;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type=text] {
  padding: 0 12px;
}

input[type=checkbox],
input[type=radio] {
  width: 15px;
  height: 15px;
  flex: 1;
}

form input[type=text]:focus, textarea:focus, select:focus, button:focus {
  outline: none !important;
  background: white;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 1px 0px 1px 3px;
  margin: 1px 1px 1px 0px;
  border: 3px solid #53c8be;
}

select {
  width: 93%;
  height: 48px;
  border-radius: 5px;
  border: none;
  margin: auto;
  padding: 0 12px;
  background-color: #e3e3e3;
}

button {
  background: #53c8be;
  display: block;
  margin: auto;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}

button:active {
  background: #e3e3e3;
}

footer {
  text-align: center;
  font-style: italic;
  color: #969696;
  padding: 12px 0;
}

/* ID Selector Styles */

#first_hr {
  height: 6px;
}

#zip_code {
  width: 40%;
  align-self: flex-start;
}

#newsletter-select {
  text-align: left;
  padding: 12px 0;
}

/* Class Styles */

.contact-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-label {
  display: block;
  text-align: left;
  padding: 12px 0;
}

.check-radio {
  display: flex;
  padding: 8px 0;
}

.sel-label {
  flex: 3;
}

::placeholder {
  text-align: right;
  font-style: italic;
  padding: 16px;
  font-size: 16px;
}

/* Media Queries */

@media (min-width: 768px) {
  main {
    max-width: 75%;
    margin: auto;
  }
  header {
    max-width: 75%;
    padding: 24px 0;
  }
  form {
    flex-direction: row;
  }
  label {
    flex: 1;
  }
  input, #state {
    flex: 3;
  }
  .main-content {
    max-width: 70%;
    margin: auto;
  }
  .input-group {
    display: flex;
    padding: 12px;
  }
  #zip-label {
    max-width: 25%;
  }
}
